---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="Contact | Thomas Manch">
  <h1>Contact</h1>
  <p>Phone (including Whatsapp and Signal): +64 27 406 3671</p>
  <p>Email: <a href="mailto:thomas.manch@nzme.co.nz">thomas.manch@nzme.co.nz</a></p>
  <p class="muted">More options coming</p>
</BaseLayout>
