---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="How to talk to a journalist | Thomas Manch">
  <h1>Want to talk to a journalist?</h1>

    <h2>How to help a reporter</h2>
  <ul>
    <p>My job is made possible because people are willing to talk to me and share information, so I encourage you to get in touch if you think you have something worth sharing.</p>
    <p>Newstips are often second-hand information or gossip. This can be interesting and helpful, but is often not reportable.</p>
    <p>To stack up a story, I look for documents that are credible, sources who can share first-hand information, or others who are close to an issue and can point me in the right direction.</p>
    <p>Importantly, information and allegations I report needs to be verifiable and cross-checked.</p>
    <p>I take the anonymity of sources seriously. When getting in touch, please consider how sharing information may risk exposing you.</p>
    <p>Thoughts, ideas, and general feedback (but not abuse) are also always welcome.</p>
  </ul>

  <h2>The ground rules</h2>
  <ul>
    <p>Talking to a journalist doesn't have to be intimidating, but there are some fundamental rules to keep in mind:</p>
    <p>- Unless otherwise agreed, conversatons are assumed to be <strong>on the record</strong>. This means what is said can be quoted, attributed, and published.</p>
    <p>- If we agree to talk <strong>on background</strong>, this means what is said can be published and possibly quoted, but without attribution by name.</p>
    <p>- If we're <strong>off the record</strong>, what is discussed is not for quoting or publication, but is helpful for informing my reporting.</p>
  </ul>

  <h2>What journalism is, and what it isn't</h2>
  <ul>
  <p>To me, journalism is the practice of providing newsworthy, fact-driven, context-rich, and sometimes entertaining reporting to the public.</p>
  <p>I always strive for accuracy, balance, and fairness but, being a human endeavour, mistakes happen and I aim to always promptly correct any errors.</p>
  <p>I follow the ethics common to quality journalism everywhere. Stories I write and quotes given are not approved by the subjects of my reporting. My reporting is non-partisan. Analysis and opinion writing is marked as such.</p>
  <p>You cannot pay to be interviewed, or for a story to be written.</p>
  <p>If funding is received to assist with the expense of reporting a story, or a 'famil' or 'junket' is taken, this be adequately disclosed.</p>
  </ul>

</BaseLayout>
