---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="Thomas Manch">
  <h1>Thomas Manch</h1>
  
  <p class="muted">
    I'm a senior reporter covering infrastructure, transport, and housing for businessdesk.co.nz. I've worked as a reporter for a decade, covering general news, crime, and for six-years politics from Parliament. I live in Wellington, NZ.
  </p>
  
  <h2>My reporting</h2>
  <p><a href="/writing">Read my latest work</a></p>

  <h2>Blog</h2>
  <p><a href="/blog">Personal and professional views, not fit for print →</a></p>

  <h2>Help a reporter</h2>
  <p><a href="/how-to-talk-to-a-journalist">A how-to guide for talking to a journalist (me) →</a></p>

  <h2>Contact</h2>
  <p><a href="/contact">Get in touch →</a></p>
</BaseLayout>