---
import BaseLayout from "../layouts/baselayout.astro";
---

<BaseLayout title="Thomas Manch">
<section class="intro">
  <div class="intro-text">
    <h1>Thomas Manch</h1>
    <p>
      I'm a senior reporter covering infrastructure, transport, and housing for
      businessdesk.co.nz. </p>
      <p>I've worked as a reporter for a decade, and previously covered politics and Paliament, 
      with a focus on foriegn policy, defence, and national security, for <i>The Post</i> and Stuff.co.nz.</p> 
      <p>I live in Wellington, New Zealand.
    </p>
    <p>Welcome to my website. Here I intend to showcase my work, share the odd blogpost, and provide the best means to contact me. 
    </p>
  </div>

  <div class="intro-photo">
    <img src="/thomas.jpg" alt="Thomas Manch"/>
  </div>
</section>
  <h2>My reporting</h2>
  <p><a href="/writing">Read my latest work</a></p>

  <h2>Blog</h2>
  <p><a href="/blog">Personal and professional views, not fit for print →</a></p>

  <h2>Help a reporter</h2>
  <p><a href="/how-to-talk-to-a-journalist">A how-to guide for talking to a journalist (me) →</a></p>

  <h2>Contact</h2>
  <p><a href="/contact">Get in touch →</a></p>
</BaseLayout>